[2021-09-28 10:09] s-hafeez opened #141 "Unable to connect PWA Kit Project with my Sandbox instance"
I have a created project using command `npx pwa-kit-create-app --outputDir <project-name>` and then changed the values of _clientId, organizationId, shortCode, siteId_ in app/commerce-api.config.js file according to my sandbox instance. But I am unable to run the project, I have checked Commerce API's on postman and Commerce API's are working fine. I am seeing this error when visit http://localhos

[2021-09-28 21:21] kevinxh commented on #141
hi @s-hafeez , the reason that you see the error `Client Authentication failed` is most likely due to SLAS api client not properly configured.

Have you setup your API clients following the steps [here](https://developer.commercecloud.com/s/article/Setting-Up-API-Access)?

[2021-09-28 21:22] vcua-mobify commented on #141
Hello @s-hafeez!

There are two places where values for the sandbox instance are defined: commerce-api.config.js and package.json (in the proxtConfigs section of ssrParameters).

Once these are set to your sandbox's values and you are still encountering the error then, as @kevinxh suggested, it is probably due to the SLAS client associated with your API key or the SLAS tenant associated with your

[2021-09-30 08:33] syunyama opened #159 "Proxy remove query strings"
I deployed PWA Kit to Managed Runtime.
But I could not see product list on MR server because `refine=cgid%3Dmens-clothing-suits` query was removed when requesting to CC server.
Does anyone have any idea?

### [On my local(working well)]
Request URL:
![スクリーンショット 2021-09-30 17 23 03](https://user-images.githubusercontent.com/31791047/135416171-5791e4b6-87b4-4481-9cf4-83284c39458b.png)

Response x-pr

[2021-09-30 13:15] johnboxall commented on #159
Hey @syunyamas, locally, and when deployed to the Managed Runtime, proxy requests follow different code paths.

Currently, when deployed to Managed Runtime, it is necessary to set your environment's "proxies".

To resolve the issue, find the "Environment Settings" for your Managed Runtime environment:

<img width="1477" alt="Screen Shot 2021-09-30 at 6 12 34 AM" src="https://user-images.githubuser

[2021-10-01 04:23] syunyama commented on #159
@johnboxall
It works!
Thank you for your help.

[2021-10-01 04:23] #159 closed, assigned to nobody

[2021-10-01 20:39] vcua-mobify commented on #141
Hi @s-hafeez

We haven't heard back from you in a while so we'll be closing this issue. If you continue to encounter issues with your sandbox setup, please file a support ticket at [help.salesforce.com](help.salesforce.com) and our support team will be able to assist you further.

[2021-10-01 20:39] #141 closed, assigned to vcua-mobify

[2021-11-12 01:27] sejal-salesforce opened #196 "[Retail App] Account profile allows for saving of invalid phone numbers."
@W-9755372@

## Steps to Reproduce
- Create a new account or edit an existing one: https://pwa-kit.mobify-storefront.com/en/account
- Update your phone number to an invalid one: 123-123

## Expected Behavior
- An error should be displayed informing the shopper that the phone number is invalid.

## Actual Behavior
- Invalid phone number gets saved.

[2021-11-12 01:40] sejal-salesforce opened #197 "[Retail App] Shipping method description overflows the price section"
@W-9871674@

## Description
Shipping method description overflows the price section on check out page

## Steps to Reproduce
- Add an item to cart.
- Go to cart and checkout.
- Go over the checkout steps to Shipping & Gift Options.
- Observe that the super saver description overflows under the price section.

## Expected Behavior
The description should not overflow under the price section and shou

[2021-11-12 02:03] sejal-salesforce opened #198 "[Retail App] Order summary prices on check out page misaligned on mobile"
@W-9872562@

## Steps to Reproduce

- Go to `https://pwa-kit.mobify-storefront.com/` on a mobile device.
- Add an item to cart.
- Go to **Cart > Checkout** page.
- Scroll down to **Order Summary**.
- Click the arrow to see the item in cart.
- The price is misaligned.

![image](https://user-images.githubusercontent.com/47658666/141396156-7b5117fe-3efc-49ff-9783-4b3a989eed1a.png)

## Expected Result

[2021-11-12 02:06] sejal-salesforce opened #199 "[Retail App] "Out of Stock" message is not showing on mobile screens"
@W-9872440@

When an item is out of stock, the indication about the same is not shown on the mobile screen.

## Steps to Reproduce

- Go to <https://pwa-kit.mobify-storefront.com/en-GB/product/78916783M?color=white&size=15L&pid=78916783M-1>.
- The "Out of Stock" msg is not showing on mobile screens.

## Expected Behavior

"Out of Stock" message should show up on the mobile screen just the same way

[2021-11-16 07:09] hnestmann opened #202 "Add support for simple products / variation groups"
In order to speed up projects with any type of customer data set, we should add support to the search for different product types, such as simple products and variation groups

Simple products can be found in SFRA electronics category
Variations groups e.g. 42416786-3M

https://github.com/SalesforceCommerceCloud/pwa-kit/blob/915bf3e9bceb1fda96279c0b019d26bf108f9470/packages/pwa/app/pages/product-l

[2021-11-16 07:09] uip-robot-zz commented on #202
Git2Gus App is installed but the `.git2gus/config.json` doesn't exist.

[2021-11-17 20:20] kevinxh commented on #202
Hey @hnestmann ! Thank you for bringing this up. The PWA currently doesn't support simple products and variation group and the team is aware of the lack of feature. It's on our roadmap to add support for other product types.

[2021-11-18 19:39] alexvuong opened #211 "TESTING Git2Gus (please ignore)"
Testing git2Gus here

[2021-11-18 19:39] uip-robot-zz commented on #211
This issue has been linked to a new work item: [W-10198280](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000QT4ECYA1/view)

[2021-11-18 19:45] alexvuong commented on #211
Closing the issue as the testing is completed

[2021-11-18 19:45] #211 closed, assigned to nobody

[2021-11-20 10:58] agurumurthy96 opened #219 "[Retail App] Show applied promotion codes case sensitive"
The Cart and the Checkout pages show the applied promotions code in uppercase, this code is case sensitive, we should show the code using the original format.

STRS
add orderLevel promocode
view cart and checkout pages

Expected Results
promotions show case sensitive promo code (orderLevel)

Actual Results
promotions show upper case promo codes (ORDERLEVEL)

@W-9491413@

[2021-11-20 14:35] agurumurthy96 opened #221 "PDP Add to cart button should always be active unless out of stock"
As a shopper, I need the "Add to Cart" button to be always active so that I'm not guessing what I have to do to add a product to cart.

Acceptance Criteria:
"Add to Cart button" is always active (unless the item is out of stock)
When the "Add to Cart" button is clicked but the product variants haven't been selected, show error state "Please select all your options above". See designs.

Implementat

[2021-11-22 17:16] uip-robot-zz commented on #219
This issue has been linked to a new work item: [W-10214067](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000RZJEmYAP/view)

[2021-11-26 00:00] agurumurthy96 opened #235 "[Retail App] Price filter radio button doesn't reset while switching pages"
### Summary
Once the selection has been made, the price filter radio button does not reset while switching to a different page. For example, if a user selects the filter as £0 - £19.99 in the Women's page, after switching to the Men's page, the price filter radio button shows the same selection, but the search results displayed show the default results.

### Steps To Reproduce
1. Visit https://pwa

[2021-11-26 00:44] uip-robot-zz commented on #235
This issue has been linked to a new work item: [W-10230405](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000SlRuIYAV/view)

[2021-11-26 02:46] sejal-salesforce opened #236 "[BUG] Phone number should display a numeric keyboard on Mobile devices @W-9871940@"
### Summary

On the Account Profile Page, editing the phone number should bring up a number keyboard on mobile devices.

### Steps To Reproduce

- Log in to an account on a mobile device
- Navigate to /account/profile
- Click edit your profile
- Click on the phone number field
- It displays the alphanumeric character keyboard.

### Expected result

It should show the numeric keyboard on mobile dev

[2021-12-02 17:21] #198 closed, assigned to nobody

[2021-12-06 16:10] #199 closed, assigned to nobody

[2021-12-06 16:29] #219 closed, assigned to nobody

[2021-12-13 13:56] stm-dschulz opened #258 "[BUG] Forgot Password! not implemented in checkout"
### Summary

Forgot Password! not implemented in checkout

### Steps To Reproduce
* Add an item to cart.
* Go to cart and checkout.
* Switch to **Already have an account? Login**
* Click **Forgot Password?** => nothing happens

### Expected result

**Forgot Password** dialog should open same as for my account

<img width="462" alt="screenshot 2021-12-13 um 14 55 50" src="https://user-images.github

[2021-12-13 18:30] #197 closed, assigned to nobody

[2021-12-25 02:01] sejal-salesforce opened #266 "Update ssr server readme file"
I think this readme file has old content and requires updates. I am creating this issue to keep track of it.

https://github.com/SalesforceCommerceCloud/pwa-kit/blob/38185abc396665f21d975c30f91a9b5bdbce5fc9/packages/pwa-kit-react-sdk/src/ssr/server/README.md?plain=1#L1

[2021-12-25 02:02] uip-robot-zz commented on #266
This issue has been linked to a new work item: [W-10356919](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000aJhCeYAK/view)

[2021-12-25 07:52] sejal-salesforce opened #267 "[BUG] Delete react-retail-app.png from generated retail project"
### Summary

We have replaced the hero image for the generated retail starter project. So the file `react-retail-app.png` should not appear in the project folder when the project is generated.

[2021-12-25 07:53] uip-robot-zz commented on #267
This issue has been linked to a new work item: [W-10357112](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000aMFAFYA4/view)

[2021-12-27 16:44] sunnyjain15699 commented on #267
Hi! I would like to work on this issue. Can you guide me ?

[2021-12-31 06:11] sejal-salesforce commented on #267
Hi @sunnyjain15699  Thank you for your interest in contributing to PWA Kit. We realize that this is as simple as deleting a file, and probably not going to be so much to contribute. I have removed the good-first-issue. That said, we would like to have your contributions in the future, in the form of issues or PRs.

[2022-01-02 08:27] deelocodes opened #272 "Deploy your app for free 🚀"
Hey @SalesforceCommerceCloud, I'm just stopping by to say great work and to make a recommendation! Will you need to host your app in the future? If so, I'd highly recommend using [DeeloCloud](https://www.deelo.cloud). It's built for developers, it's super easy to use, and you won't have to manage servers - which means you can focus on building!
Here's how it works in a few steps:

After signing up

[2022-01-05 14:52] dev-niko commented on #202
Hi @kevinxh, what do you mean exactly by "doesn't support"? I just added "product" to the refine string and it works. I see all Products from the category and iam able to buy them.

`searchParams.refine.push('htype=master|product') `

[2022-01-05 23:32] kevinxh commented on #202
@dev-niko by "doesn't support", i mean it's not implemented/tested. You could update the api call to include type `product`, however, the data structure for those type of products might not be correctly handled on pages like product detail page, you might run into issues. Such scenarios are not tested. You can certainly give it a try.

[2022-01-10 12:10] nx-renezwinge opened #293 "[BUG] Breadcrumb links have not correct url on product detail"
### Summary

Breadcrumb links have not correct url on product detail. Locale is missing in the urls.

### Steps To Reproduce

- Checkout project in version 1.4.0-dev develop branch
- npm ci
- npm run start
- Open https://localhost:3000 in your browser
- Go to category womens
- Click on a product to reach product detail
- Click on link Womens in Breadcrumb
- Error is rising with page not found

###

[2022-01-10 20:01] sejal-salesforce commented on #236
@alexvuong should I close this issue?

[2022-01-10 20:04] alexvuong commented on #236
Yes we've decided to not go with this ticket

[2022-01-10 23:47] sejal-salesforce commented on #293
@nx-renezwinge Thanks for creating the issue with pwa-kit. I see that you are using the latest version. I tried to reproduce the issue using our hosted production site on the same version, and was not able to do so - https://pwa-kit.mobify-storefront.com/

Is that something that occurs when you run it locally? If yes, can you also try after clearing your local cache? Thanks!

[2022-01-10 23:48] #221 closed, assigned to nobody

[2022-01-10 23:54] #267 closed, assigned to sejal-salesforce

[2022-01-11 07:44] nx-renezwinge commented on #293
Hi @sejal-salesforce ,
sry, it was my mistake, i updated my original post, it is the current develop branch 1.4.0-dev.
I retested it and deleted cache and i currently notify this problem in develop branch 1.4.0-dev.
In 1.3. it is currently working correctly.

[2022-01-11 22:00] agurumurthy96 commented on #196
@sejal-salesforce I think this issue can be closed as the Dev team has concluded to keep this feature as customizable as possible

[2022-01-11 22:25] #196 closed, assigned to nobody

[2022-01-14 18:48] sejal-salesforce opened #319 "[BUG] When a registered shopper logs in the items in the guest cart should move to the registered cart"
### Summary

When a registered shopper logs in the items in the guest cart should move to the registered cart

### Steps To Reproduce

1. As a guest shopper, add items to the cart
2. Sign in as a registered user
3. Go to cart and see items are gone

### Expected result

As a guest shopper that has items in their cart if they log in the items are then associated with their account
If the shopper lo

[2022-01-20 14:07] todortotev opened #344 "[RFC] Improved version"
Hello guys. I have an internal request to build a POC using your solution for a PWA kit. So sorry for bringing this through the issue, but I haven't seen a place for RFCs.
So far, you have done an awesome job with the project, but as it seems lately the progress has been stagnating for a while and I think there probably are places where the quality can be a tad improved.

We have an ambitious team

[2022-01-27 00:09] johnboxall opened #359 "[FEATURE] Support routing outgoing traffic through an HTTP(S) Proxy"
In high control IT environments, outgoing traffic may required to route through a central corporate proxy:

Browser -> DevServer -> Corp Proxy -> Internet.

Currently using PWA Kit development server in such an environment is possible, but not straight forward:

https://github.com/SalesforceCommerceCloud/pwa-kit/compare/example-using-proxy

Ideally, we'd have a setting similar to [`npm`'s `https-p

[2022-01-27 03:22] sejal-salesforce commented on #344
@todortotev, thanks for creating the issue and explaining your plans. I want to understand your needs in detail. If you are there on Salesforce unofficial community Slack, feel free to ping me, or reach out at sejal.parikh@salesforce.com.

I also recommend you have a look at some of our [POCs](https://github.com/SalesforceCommerceCloud/pwa-kit/pulls?q=is%3Apr+is%3Aopen+label%3Apoc),  especially th

[2022-01-27 21:58] mix3d commented on #344
Is there a timeline for the #243 POC / Approval of some of those changes? Have a PWA-kit project starting soon, and would love TS support.

[2022-01-28 02:21] sejal-salesforce commented on #344
Hi @mix3d we are actively working to merge the changes in the pull request. I will keep you posted. Note that this pull request will add a Typescript compiler that enables you to write your code in TS. After that we will gradually move the major SDK interfaces in Typescript. @olibrook FYI.

[2022-01-28 10:23] stm-dschulz opened #363 "[BUG] Reset Password is not working"
### Summary

When using "Reset Password" the app returns the error "Your access-token is invalid and could not be used to identify the API client.". This happens regardless if the email is known to the system or not.

<img width="487" alt="screenshot 2022-01-28 um 11 10 16" src="https://user-images.githubusercontent.com/4547607/151528520-492c1fba-782c-4579-b8a1-8d7997426bf1.png">

### Steps To Rep

[2022-01-28 19:01] kevinxh commented on #363
Hi @stm-dschulz! This is a known issue/gap that the SLAS password reset flow currently doesn't work in the PWA.

My understanding is that the SLAS password reset endpoint (`/customers/password/actions/create-reset-token?siteId={{site_id}}`) doesn't support shopper JWT. This endpoint is for admins to reset password on behalf of shoppers.

I believe SLAS team is actively working on this issue. For n

[2022-01-28 23:48] johnboxall commented on #363
To offer an alternative, you can also bridge the current API gap using OCAPI hooks.

https://github.com/SalesforceCommerceCloud/ocapi_hooks_collection shows how to do this.

1. It extends the `dw.ocapi.shop.customers.password_reset.afterPOST` to [send a password reset email](https://github.com/SalesforceCommerceCloud/ocapi_hooks_collection/blob/main/commerce-cloud-code/plugin_ocapi/cartridge/scrip

[2022-01-30 14:29] stm-dschulz commented on #363
Hi @kevinxh , @johnboxall ,
thx for the reply.

We will use the OCAPI solution to fix this. Whats your opinion - makes sense to contribute this fix?

[2022-01-31 06:14] johnboxall commented on #363
Hey @stm-dschulz,

I don't believe a fix can be contributed in the scope of this repo  _right now_.

Going forward, one of three things will happen:

1. SLAS will add a password reset feature which we will adopt in the PWA Kit. When the feature drops, a PR that integrates it would be accepted.
2. We'll adopt a DW hooks cartridges that will always be deployed alongside the PWA Kit.
3. The underlyin

[2022-02-02 09:21] a1sultan opened #375 "[BUG] - Getting error on windows"
With the reference of following screenshot, I am unable to generate the project with command (**npx pwa-kit-create-app --outputDir ...**) on windows. I am providing valid creds upon creating the project.
Anyone faced this issue?

![image](https://user-images.githubusercontent.com/93266986/152125828-86e06ff6-1ac2-4eee-a2e3-b90251ea976b.png)

[2022-02-02 13:48] SethMW opened #376 "[BUG] - Error during login - Invalid channel_id"
I have a very barebones copy of the PWA kit that a colleague cloned. I set it up on my local machine, and I am getting the following error when I try logging in.

![image](https://user-images.githubusercontent.com/4929637/152164481-b4cc47fa-6c9a-4173-969a-d6ff1452f75c.png)

In the code I noticed the channel_id is being passed the SiteId, and from a data perspective it looks correct.

Is there a kn

[2022-02-02 15:22] johnboxall commented on #376
Hey @SethMW,

**This error looks like a SLAS configuration error – can you double check your SLAS client configuration?**

SLAS clients have a concept called `channels`. It is used to filter which Demandware Sites (eg. `RefArch|RefArchGlobal`) are allowed to use a particular SLAS client:

https://developer.salesforce.com/docs/commerce/commerce-api/references#shopper-login-and-api-access-admin:Summ

[2022-02-02 15:48] sejal-salesforce commented on #375
Hi @a1sultan , thank for reaching out to us with your issue. It seems you are trying to create project that's connected to your own sandbox. Would it be possible for you to create our demo project, and see if that's successful? You can do it using `npx pwa-kit-create-app --preset retail-react-app-demo`

It'll also help to know the versions or your windows, node, and npm. Thanks!

[2022-02-03 20:17] SethMW commented on #376
@johnboxall

That was the issue. We needed to configure a new channel to match our siteId.

Thank you!

[2022-02-03 21:01] ashoksrinivasan96 opened #377 "[BUG] black-friday-hackathon | Windows 10"
### Summary
The app displays a 404 error after the initial loading screen on Windows 10

### Steps To Reproduce
1. npx pwa-kit-create-app@2.0.0-dev --preset retail-react-app-demo
2. npm i
3. npm start

### Expected result
The retail react app should load normally

### Actual result

Error 404 page displayed after initial loader
![error](https://user-images.githubusercontent.com/29401460/152427812-

[2022-02-03 21:09] uip-robot-zz commented on #377
This issue has been linked to a new work item: [W-10536151](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000kzEGaYAM/view)

[2022-02-04 00:01] #376 closed, assigned to nobody

[2022-02-05 01:26] #258 closed, assigned to nobody

[2022-02-06 10:30] pavelkukov commented on #375
I'm getting the same error with both presets `retail-react-app` and `retail-react-app-demo`. The error is also reproducible with the windows subsystem and with Git Bash emulator. The error is present in older versions, I've tested 2.0.0-dev, 1.3.0, 1.2.0.

[2022-02-07 11:08] a1sultan commented on #375
Hi @sejal-salesforce, I tried but

(retail-react-app) throws error after getting the answers, as given below,

![image](https://user-images.githubusercontent.com/93266986/152775981-a9a64f5b-ed4c-4d25-ad7c-8971d1bb3445.png)

and (retail-react-app-demo) throws same error straight away

![image](https://user-images.githubusercontent.com/93266986/152776832-cd81c526-aae1-46d7-b02a-0365ba6b7eb2.png)

[2022-02-08 23:08] vcua-mobify opened #386 "[BUG] Product tile skeletons should represent the same size as the content for no search results"
### Summary

On the no search results found page, the size of the top sellers skeletons are not the same as the size of the content that is loaded after. The skeletons should match the size of the content being loaded in them

### Steps To Reproduce

* Search for "space" or something with no results
* See loading skeletons in product scroller

### Expected result

* Skeletons should represent the

[2022-02-08 23:25] vcua-mobify opened #387 "[BUG] The PLP does not show the correct amount of skeletons when loading filter results"
### Summary

On the PLP, when a user selects a filter, only one product tile skeleton appears. The amount of skeletons that should appear should be equal to the amount of product tiles that can be visible on the screen

### Steps To Reproduce

* Go to PLP
* Select a filter
* See skeleton of only one production tile

### Expected result

The product tiles are all replaced with skeletons while the f

[2022-02-08 23:36] vcua-mobify opened #388 "[BUG] Uncaught exception when adding a number of items to cart larger than the available stock"
### Summary

The useBasket hook throw an exception when a shopper tries to add more products to their cart than is available in stock.

`useBasket.js:51 Uncaught (in promise) Error: [object Object]
    at useBasket.js:51`

This is because we're not handling the API response with the exception type `ProductItemNotAvailableException`:

`{"_v":"21.3","fault":{"arguments":{"productId":"701642842637M",

[2022-02-15 03:56] #236 closed, assigned to nobody

[2022-02-15 03:57] #377 closed, assigned to nobody

[2022-02-15 05:46] sejal-salesforce commented on #344
Hello, @mix3d

We just released v2.0 for developer preview today. Here's the detailed post about it https://github.com/SalesforceCommerceCloud/pwa-kit/discussions/395

We would love to get more feedback from you.

Since we are also discussing your contributors with partner relations & other teams, I am closing this issue. Thank you for contributing to the PWA kit.

[2022-02-15 05:46] #344 closed, assigned to nobody

[2022-02-15 20:03] adamraya commented on #375
Thank you, @a1sultan  and @pavelkukov, for reporting this issue with the App Generator.

I confirm the team was able to identify that the generator fails when it's run using WSL from a Windows file system folder mounted in `/mnt/..`. The team is currently looking into potential solutions.

As a workaround, I suggest using the Windows Command shell or PowerShell to generate projects on Windows or i

[2022-02-16 18:56] alexvuong opened #409 "[BUG]Filter link on search result is not working"
### Summary

The filter on search page is not working.

### Steps To Reproduce
- Go to https://pwa-kit.mobify-storefront.com/en-GB/search?q=dress
- Click on the color filter
- It will direct you to a 404 looking like this: https://pwa-kit.mobify-storefront.com/en-GB/category/undefined?limit=25&q=dress&refine=c_refinementColor%3DBlack&sort=best-matches
- Observe that the category Id, in this case,

[2022-02-16 18:56] uip-robot-zz commented on #409
This issue has been linked to a new work item: [W-10712201](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000p9IwWYAU/view)

[2022-02-23 09:48] nx-andreashabermann opened #420 "[FEATURE] Add build process for CSR only for use in hybrid apps"
**Is your feature request related to a problem? Please describe.**
PWA kit is currently designed to be used with SRR, which is good for website scenarios, but leads to some problems when you want to use it in hybrid app as with Cordova.

**Describe the solution you'd like**
A second way to build pwa kit so both client and server js get complied for CSR only use (with an index.html file that can be

[2022-02-23 23:52] drewzboto commented on #420
I wanted to confirm your approach here, as we have done some similar work in the past, but didn't carry that forward into PWA Kit.

Are you looking to take your PWA Kit code and bundle it directly in a hybrid cordova-based native app, which doesn't require any additional downloading of files/assets from PWA Kit and Managed Runtime>? Or are you trying to embed a PWA kit site into a cordova-based we

[2022-02-25 03:00] tgrahn2 opened #427 "[BUG] Images not rendering on the PLP or PDP when hosted on AWS"
### Summary

It appears that when products setup in the catalog in Business Manager have images hosted externally (i.e., AWS) they are not rendering in the retail react app.    The image seems to list the src correctly, but it is not rendering.  When I copy and paste the src into browser window the image renders correctly.

### Steps To Reproduce
Install the retail react app... for the site, choos

[2022-02-25 06:35] johnboxall commented on #427
Hey @tgrahn2 this is a security feature, not a bug 🔒 🚫 🐛 .

By default, the Retail React App includes [`helmet`](https://github.com/helmetjs/helmet) Express.js library to add security headers:

https://github.com/SalesforceCommerceCloud/pwa-kit/blob/8f12ae8cd5dea7fab0fddd2223ea0b57800f5249/packages/pwa/app/ssr.js#L45-L60

To allow images from other domains, you'll need to add them to [Content Secu

[2022-02-25 06:35] #427 closed, assigned to nobody

[2022-02-25 15:50] drewzboto commented on #420
@nx-andreashabermann tagging you here to make sure you saw my clarification questions. Thank you!

[2022-02-25 15:51] tgrahn2 commented on #427
yeah makes sense.  Manually changing ssr.js worked.  Thanks for the pointer... and I agree, should not be done in production.   Thanks for your help @johnboxall

[2022-02-25 19:40] johnboxall commented on #420
Making assumptions about what you're asking for, if you'd like to use Managed Runtime to host a "vanilla" React client side rendered app, you can use "Hello World" template as a starting point:

https://github.com/SalesforceCommerceCloud/pwa-kit/tree/develop/packages/hello-world

There is also a experimental version of this template in our upcoming major version:

https://github.com/SalesforceComm

[2022-03-01 08:09] nx-andreashabermann commented on #420
Basically the final goal should be the 1st approach. Using hello-world would mean to start at 0, at least it should be possible to set up nearly anything from that starting point, but the development time will much higher that way.

Here are the problems I got to when trying to use pwa-kit as base implementation with client side code in the hybrid app bundle:
1. Routing: would be easier to have ha

[2022-03-08 08:08] a1sultan opened #436 "Error upon deployment - Managed Runtime"
Hi there,
I am deploying my PWA project on managed runtime, which is working fine locally but throwing error upon MR after deployment. I have also provided the Proxy Configs in Environment Settings.
Screenshot is attached for the reference. Any help would be appreciable. Thanks

<img width="1438" alt="Screenshot 2022-03-08 at 1 03 40 PM" src="https://user-images.githubusercontent.com/93266986/1571

[2022-03-08 08:30] noahadams commented on #436
Hi Adil, can you verify that you've set this environment `https://haven-production.mobify-storefront.com/` as an allowed `redirect_uri` for your SLAS tenant?

If you have further issues deploying to Managed Runtime, as opposed to with PWA Kit itself, I'd encourage you to contact support via https://help.salesforce.com/

[2022-03-08 12:29] nx-renezwinge opened #437 "[FEATURE] Proxy configs for multiple environments"
**Is your feature request related to a problem? Please describe.**
Currently the proxy config for local development is in package.json, but if we want switch between on-demand sandboxes, then package.json must be changed. Sometimes after working the devs forgot to change the package.json.

**Describe the solution you'd like**
proxy or complete mobify config in package.json should be moved in separ

[2022-03-08 17:14] bendvc commented on #437
Hi René,

We have actually just merged a feature to the SDK allowing for environment specific configuration files. You can see the PR [here](https://github.com/SalesforceCommerceCloud/pwa-kit/pull/421). But the gist of it is that we'll resolve which configuration file is used based on your current environment.

If you code is running remotely (on managed runtime) the file used will be determined v

[2022-03-08 23:47] johnboxall commented on #437
Today, you can also override the proxy configs using environments variables:

* https://developer.salesforce.com/docs/commerce/pwa-kit-managed-runtime/guide/proxying-requests.html#overriding-proxy-configurations-with-environment-variables
* https://github.com/SalesforceCommerceCloud/pwa-kit/blob/915bf3e9bceb1fda96279c0b019d26bf108f9470/packages/pwa-kit-react-sdk/src/utils/ssr-shared.js#L117-L133

[2022-03-09 06:22] nx-renezwinge commented on #437
@bendvc & @johnboxall Thank you very much for this info :) Then we use the next days the env variables and waiting for the next version.
Last question, if the new config handling is released, the mobify config part in the package.json can be deleted? Because in the PR i didn't saw the deletion.

[2022-03-09 06:51] a1sultan commented on #436
Hi @noahadams, thanks for directing my attention to SLAS tenant. There was a typo mistake in my redirectUri.
Thanks for your help. Cheers.

[2022-03-09 06:51] #436 closed, assigned to nobody

[2022-03-11 17:12] bendvc commented on #437
If you aren't generating a new project, only upgrading the SDK in an existing retail react app, you can't just delete it as `config/default.js` will not exist. You can however move the content into a newly created default.js file in the config folder and only then safely remove the mobify section. Put you don't have to do that to take advantage of per environment configs, you can simply create a l

[2022-03-15 16:35] #437 closed, assigned to nobody

[2022-03-16 09:27] syunyama opened #449 "Japanese text was overwritten by default text in code at pushing bundle"
**Is your feature request related to a problem? Please describe.**
When I use Japanese text as default in package.json and try to push with command `npm run push` , whole ja-JP.json text was overwritten by default text in code.

**Describe the solution you'd like**
Removing `formatjs extract` when pushing. or merge existing json and text in code.

[2022-03-16 16:21] bendvc commented on #449
Hi Shumpei Yamada

Thank you for pointing this out. This is a problem that is already on our radar and we have a PR that will be merged shortly that will stop this kind of error from happening.

The change is essentially locking down the locale used in the compile and extract scripts in the package.json file like below:

[code]

The reason why this makes sense is because the _default_ locale in th

[2022-03-16 23:10] syunyama commented on #449
@bendvc
Thank you.
Please attach PR to this thread and close after merge.

[2022-03-17 17:01] bendvc commented on #449
@syunyama

This is a long [PR](https://github.com/SalesforceCommerceCloud/pwa-kit/pull/391/files#diff-1f1fc5de05465ee4931aab2618da9f4a0fc5ef41459ba425936b1c5e46f7ac2d) that is implementing multi-site support for the retail react app. I've linked the file directly were we are fixing the scripts that previously result in having a translation file with the wrong language in it (if you are to change y

[2022-03-17 17:01] #449 closed, assigned to nobody

[2022-03-23 17:01] stm-dschulz opened #460 "[BUG] Login empties the cart"
### Summary

⛔  login empties the cart

### Steps To Reproduce

* starting point: not logged in
* add a product to the cart
* login during checkout or via header link

→ see that the cart becomes removed → is empty now even if the guest had already products in cart

### Expected result

after login cart remains as is

### Actual result

cart becomes empty

### System Information (as applicable)

R

[2022-03-23 18:02] bendvc commented on #460
Hey @stm-dschulz

Thank for reporting this issue, it's something that we are aware of and have a ticket created to take it internally. If you have taken a peek at the code you might have noticed that we are using older OCAPI endpoints for cart and checkout. The reason for doing this was to be able to support payment integrations that we done via hooks. At the time SCAPI did not support hooks, but

[2022-04-01 05:56] johnboxall commented on #460
I'm reasonably confident you could use [`mergeBasket`](https://developer.salesforce.com/docs/commerce/commerce-api/references?meta=shopper-baskets:mergeBasket) or [`transferBasket`](https://developer.salesforce.com/docs/commerce/commerce-api/references?meta=shopper-baskets:transferBasket) to resolve this!

I _think_ this should work even with the rest of cart being in OCAPI.

[2022-04-06 20:29] sejal-salesforce commented on #460
@stm-dschulz Confirming that we are working on the fix for this.

[2022-04-07 16:51] MarkiyanPyts opened #503 "[BUG] pwa-kit-create-app@2.0.0-dev.3 does not work with node 16"
### Summary

_Short summary of what is going on or to provide context_.

### Steps To Reproduce
1) use https://github.com/SalesforceCommerceCloud/pwa-kit/discussions/395 to install the developer preview
2) Have node 16 installed on your machine
3) run "npm run dev"

### Expected result

It should work in node 16

### Actual result

App crashes with error "SyntaxError: The "req1-ssr-overall-start"

[2022-04-07 21:48] sejal-salesforce commented on #503
Thanks Mark for creating an issue. This is in our backlog, and we will add Node 16 support after AWS lambda supports it.

[2022-04-13 06:46] adamraya commented on #375
The fix was released as part of [`v1.5.0`](https://github.com/SalesforceCommerceCloud/pwa-kit/releases/tag/v1.5.0).

I'm closing the issue. Please, feel free to open a new issue if you encounter new problems.

[2022-04-13 06:46] #375 closed, assigned to nobody

[2022-04-13 18:33] johnboxall commented on #359
Adding onto this, it might be valuable if the devserver had native support for routing proxy requests through a proxy (like MITMProxy). This can be helpful for debugging errors with API requests that happen in the context of the server.

[2022-05-06 08:31] JonasReniers commented on #409
I'm looking into this  issue

[2022-05-10 05:26] johnboxall commented on #460
This was resolved in the `v2` branch with this PR: https://github.com/SalesforceCommerceCloud/pwa-kit/pull/540

[2022-05-10 05:26] #460 closed, assigned to nobody

[2022-05-10 05:27] johnboxall commented on #319
Resolved here: https://github.com/SalesforceCommerceCloud/pwa-kit/pull/540

[2022-05-10 05:27] #319 closed, assigned to nobody

[2022-05-20 18:07] adamraya opened #625 "[BUG] PLP Selecting multiple refinements from different filter categories are not combined"
### Summary

Selected refinements from different filter categories are not combined in the PLP filtering. Only selected refinements from the same filter category are being combined.

### Steps To Reproduce

1. Go to https://pwa-kit.mobify-storefront.com/global/en-GB/category/mens
2. Click the filter Color “Black”
3. Click the filter Price "20 - 49.99"

### Expected result
Both "Black" and "20 - 49

[2022-05-20 18:09] uip-robot-zz commented on #625
This issue has been linked to a new work item: [W-11179299](https://gus.lightning.force.com/lightning/r/ADM_Work__c/a07EE00000xSQteYAG/view)

[2022-06-07 18:02] aleksanderson opened #639 "[BUG] The 'x-api-key' header is cut off by the proxy"
### Summary

_**NOTE:** This may not necessarily be a bug, but it can cause issues when integrating with some client libraries_.

The current configuration of the built-in proxy explicitly filters out a set of specific headers. "x-api-key" is among those headers.
![image](https://user-images.githubusercontent.com/1536593/172449774-26e447b3-a55c-40eb-a6de-222524e1ee09.png)

At the same time, there

[2022-06-07 19:56] drewzboto commented on #639
Thanks @aleksanderson. Can you share which API client libraries you are looking at that rely on the x-api-key header?

We stripped out this common API-gateway header for historical reasons, but we believe this is no longer needed. We would be looking at two changes:
- PWA Kit code change to remove the [logic](https://github.com/SalesforceCommerceCloud/pwa-kit/blob/a723574803b22536e0e8ebb5d26767463

[2022-06-07 22:26] johnboxall commented on #639
A few notes for others looking at this issue while we work through a fix, to confirm the bug, I an internal testing environment: https://adn-production-us-west-1.mobify-storefront.com/

First, observe that for requests routed to the App Server, many headers are added/overwritten:

[code]

[code]

* A number of `cloudfront-` headers are added.
* The `Host` header is updated.
* The `User-Agent` head

[2022-06-13 20:46] aleksanderson commented on #639
@drewzboto and @johnboxall,
Thank you for confirming.

I have been recently playing around with integrating PWAKit with [Uniform](https://uniform.dev/) and, their API clients did use x-api-key header

[2022-06-15 23:02] johnboxall commented on #202
Here is a PR that demonstrates how you might approach adding support for more product types: https://github.com/SalesforceCommerceCloud/pwa-kit/pull/629

[2022-06-29 21:12] pfrickcol commented on #503
AWS supports node 16 now

[2022-07-05 23:52] johnboxall opened #658 "[BUG] After changing their password, shoppers cannot add products to their basket"
### Steps To Reproduce 🪜

1. Open https://pwa-kit.mobify-storefront.com/ and login as a registered shopper
2. Change your password: https://pwa-kit.mobify-storefront.com/global/en-GB/account
3. Try to add a product to your basket.

### Expected result 👍

The product is successfully added.

### Actual result 👎

You get an error from OCAPI that it failed to validate the SLAS JWT.

[2022-07-06 00:10] johnboxall commented on #658
I believe our workaround to this will be to restart the SLAS login dance (eg. `oauth2/login` then `oauth2/token`) after a user changes their credentials as both the SLAS access & refresh tokens won't work. Another quick fix but annoying option would be to log the user out!

[2022-07-14 06:42] chandanrjit opened #668 "[FEATURE] Enable Dependabot and Code scanning on the repo setting"
**Is your feature request related to a problem? Please describe.**
To get the auto security fix recommendation and best practices in the code development

**Describe the solution you'd like**
[Settings](https://github.com/SalesforceCommerceCloud/pwa-kit/settings) --> Code security and analysis

**Describe alternatives you've considered**
- running code scanning on VS Code level. Developer responsi

[2022-07-18 19:58] mix3d commented on #639
Watching

[2022-07-19 16:56] echessman commented on #668
Hello @chandanrjit, Thank you for the feedback we are currently using [Snyk](https://snyk.io/) for code scanning and is configured for this repo. I believe that this meets the expectations of your feature request. However if it does not please do not hesitate to reach out again with any questions and/or feedback. Thank you!

[2022-07-22 23:02] kevinxh opened #678 "RFC: `commerce-sdk-react` - SCAPI React.js hook library"
_Please feel free to leave comments / feedback in this issue! Thank you!_

## Summary

Here, we are proposing to introduce a new package in the pwa-kit monorepo - `commerce-sdk-react`. This library contains a **collection of easy-to-use React.js hooks** that integrates Salesforce Commerce Cloud B2C Commerce API (known as SCAPI) in a PWA Kit project.

## Background

Today, the [retail react app](ht

[2022-08-08 16:50] #668 closed, assigned to nobody

[2022-08-18 03:08] zero-luo opened #696 "[FEATURE] OCAPI has a way to get the content of Page designer?"
We want to use PWA kit to refactor the website; but we now have a problem, OCAPI does not provide an interface to get the content of Page designer.

We tried to use the PageMgr.serializePage(page.ID, null) method, but found an error

Can't compile script '[DEBUGGER EXPR: ]'

wainclude url="/on/demandware.store/Sites-xxx-xxx-Site/en/__SYSTEM__Page-Include?cid=homepage&params=%7b%22custom%22%3a%22%2

[2022-08-22 22:27] mix3d commented on #639
Any update on this, @johnboxall?

We're currently manually editing our local `ssr-proxying.js` inside the node module folder in order to have our dev envs working.

[2022-08-22 23:17] johnboxall commented on #639
Hey @mix3d, when deployed to Managed Runtime, we use this header internally. We remove it to prevent conflicts with where we use it.

If your use case is:

a) making proxy requests from a browser with the header or
b) making proxy requests from the app server with the header

Then removing it from the list is a workaround.

If your use case is forwarding a specific value for it to the app server (

[2022-08-23 20:06] petarm commented on #696
Hello,
this code works for us:
`var PageMgr = require('dw/experience/PageMgr');
var CatalogMgr = require('dw/catalog/CatalogMgr');

/**
 *  Serialized one or more page designer pages into JSON
 */
function serialize() {
    // construct JSON Array by hand, as PD streams on response which we need to do as well.
    response.writer.print('[');
    if (request.httpParameterMap.pageIds.submitted) {

[2022-08-24 02:13] zero-luo commented on #696
@petarm

OH MAN!

We used the method you provided and finally got the PageDesigner json data;

Thank you very much;

![image](https://user-images.githubusercontent.com/29971766/186301151-82c95909-726e-4754-bbc1-9c3d181fd509.png)

[2022-09-02 07:38] navyhod opened #710 "[BUG] HMR not working on windows in PWA-Kit v2.2"
### Summary

HMR is not working on Windows.

### System Information (as applicable)

**Browser**: Chrome
**Node version**: 14.17.1
**pwa-kit version**: 2.2
**Desktop OS**: Windows 10

[2022-09-02 08:24] #710 closed, assigned to nobody

[2022-09-02 09:39] ghost opened #711 "[BUG] 502 Bad Gateway when sending request to SCAPI"
### Summary

When application sends request, for example, to https://{envID}.mobify-storefront.com/mobify/proxy/api/customer/shopper-customers/v1/organizations/{orgID}/customers?siteId={siteID}, 502 Bad Gateway (HTML response) received instead of 400 (JSON response).  This probably happens because the **cookie** size exceeds the limit (please notice the **token** cookie present).

### Steps To Rep

[2022-09-06 06:20] nx-renezwinge opened #712 "[FEATURE] MultiSite Context should include locale object instead of id"
**Is your feature request related to a problem? Please describe.**
With version 2.2.0 we have now the MultiSite context, which includes the current site object, locale id and a buildUrl method.
This concept is much better then before and makes it easier to create full URLs, but i get with it only URLs with the locale id and not with locale alias if this is configured. The method has the localeRef

[2022-09-06 16:48] bendvc commented on #712
Hi @nx-renezwinge,

Thanks for the input. Your suggestion makes sense. I'd like to run it by the eng that did this recent work. He'll be back in the office Sept 12th @adamraya.

One thing that I would like to mention, is that we do have a future work item to move this feature into the SDK or some other reusable library so that updates and be more easily consumed. So that is probably he time we'd b

[2022-09-06 19:55] kevinxh commented on #711
Hey @ast-mmitsakh ! Thanks for raising the issue!

I recently encountered this issue as well, SCAPI rejects the requests when you have an enormous cookie header.

The solution is to move access token from cookie to localstorage. This will be fixed in the retail react app template soon.

I'll keep this issue open for visibility until it is fixed.

[2022-09-07 07:25] ghost commented on #711
@kevinxh Thank you for the update!

[2022-09-14 00:16] adamraya commented on #712
Thank your @nx-renezwinge for reporting the issue. You are correct. PR #667 introduced the new MutliSite context but did not consider the locale alias configuration.

The suggested solution has been implemented in #716 .
Now the `<MutiSiteContext>` has the complete `locale` object available. If the `locale.alias` is defined in the `sites.js` configuration file, using the `locale.alias` in the URL

[2022-09-14 05:20] nx-renezwinge commented on #712
Hi @adamraya,
thx for the fast fix :) The changes looking mostly the same.
On the next update we add your code then :)

Best regards René

[2022-09-14 05:20] #712 closed, assigned to nobody

[2022-09-16 11:27] nx-renezwinge opened #721 "[QUESTION] Roadmap for ReactQuery and ServerContext features"
Hello everybody,
we are looking every time over new PRs in the PWA Kit project to see the road of the project, especially TechStack wise.
So we saw the use of ReactQuery for commerce-sdk-react and the new ServerContext to replace getProps in future.

This is a really good decision and for a current running customer project, we refactored our PageDesigner integration and THIRD Party API integration

[2022-09-16 17:07] bendvc commented on #721
Hey René!

Short answer is **YES**.

Long answer. The release is expected at the end of 242 for server-side support of ReactQuery integration with the PWA-Kit SDK. We have many POC's showing the server rendering working, but we are just working on settling the API that we think is going to be best for this feature. There are many things we have to take into account when adding react-query support

[2022-09-20 19:21] clavery opened #727 "[BUG] Templated web app manifest is missing name,short_name"
### Summary

When templating a new pwa-kit project via `npx pwa-kit-create-app` the generated web app manifest is missing the `name` and `short_name` properties. Per spec the name property is at least required (https://developer.mozilla.org/en-US/docs/Web/Manifest/name).

This seems to occur with either preset.

The side effects of this is failing google lighthouse checks for PWA as it requires a

[2022-09-22 01:53] #727 closed, assigned to nobody

[2022-09-22 05:39] johnboxall opened #733 "[BUG] Support multivalue query parameters"
URLs may contain multivalue query parameters. _That is a parameter with the same name may appear multiple times in a query string: `?q=123&q=abc`._

As an example, SCAPI's product search API allows you to use the `refine` parameter multiple times to set a number of refinements on a search.

Today, multiple values are discarded and only the last value is available on Express code.

This is because

[2022-09-22 05:47] johnboxall commented on #359
~This approach is likely also blocked by #733.~ Wait – this is only useful for local development, which doesn't have this issue.

[2022-09-28 17:40] sandragolden opened #738 "[BUG] Hybrid session not restored after logging in via PWA once dwsid exists"
### Summary

Removing the session bridge in PR #684 breaks phased rollout approach when switching between PWA and SFRA as a guest and registered customer.

### Steps To Reproduce

1. start out on pwa, add products to guest cart
2. cart page redirects to SFRA cart page, session is successfully restored from PWA refresh token
3. on SFRA login page, click "login" -> returns to PWA for login
4. login

[2022-09-28 22:38] bendvc commented on #625
By applying the following patch from within your pwa folder you can fix this issue if you pwa was generated as version 2.0.0 of 2.1.0.

[code]

[2022-10-04 22:02] adamraya commented on #625
I'm closing this issue since it's fixed on version 2.2.0. The above patch can be applied to projects generated from versions 2.0.0 and 2.1.0.

[2022-10-04 22:02] #625 closed, assigned to nobody

[2022-10-05 01:33] natemarcus opened #744 "[BUG] Search suggestions only returns category type"
### Summary

When entering a query into the megamenu search the 'suggested' result options appear to only return category type suggestions though there are other options including 'brand' and 'product' type suggestions.

Note that when the query is actually executed the search results themselves DO appear to be accurate.

### Steps To Reproduce

Retail React App: in search megamenu type 'cardigan'

[2022-10-10 02:21] #696 closed, assigned to nobody

[2022-10-14 11:06] nx-renezwinge opened #761 "[FEATURE] Make nodejs inspect configurable"
**Is your feature request related to a problem? Please describe.**
Currently nodejs inspect can not be configured. It starts default with 127.0.0.1:9229. But if you run the frontend in a docker container, you can not reach it. The IP must be changed into 0.0.0.0 to make it works. This is currently not possible. Or if you have a second app already running which is using 9229, then we have no possib

[2022-10-14 19:57] alexvuong commented on #761
Thank you for raising this issue! This is a reasonable ask. We will take this up with the team and add it to our capacity when it is available.

[2022-10-17 10:04] nx-renezwinge opened #765 "[BUG] findInProjectThenSDK doesn't resolve correct path"
### Summary

We refactored our project to a MonoRepo with npm workspaces. So pwa-kit-dev in root node_modules folder. If we try to build the project, we get a lot of errors with wrong module paths. So all aliases and and rules in webpack config are broken because these are using findInProjectThenSDK and the else case creates in the path a "node_modules/node_modules", so one node_modules is too muc

[2022-10-17 10:05] nx-renezwinge commented on #761
@alexvuong Thx, I'm happy to hear, it will be investigated.

[2022-10-18 19:16] ecRobertEngel commented on #721
Hey. Just a very minor question. What is meant by _The release is expected at the end of 242_ ? Might be a language barrier kicking in.

[2022-10-25 17:50] kevinxh commented on #765
Hey @nx-renezwinge , thanks for reporting the issue. I'll take this issue to the team and prioritize it.

[2022-10-26 06:16] benramsay commented on #503
Unresolved : Please see related issue [#795]

[2022-10-26 11:31] benramsay opened #795 "[BUG] Node v16.x"
### Summary
As described by the quick start, we are asked to use : **Node 14.x and NPM 6.14.x.**
But I am using other library asking for : **Node : v16.14.0 and NPM : 8.14.0**
If I go with the second configuration it is not working and gives me the following ERROR.

### Steps To Reproduce
 USING : **Node : v16.14.0 and NPM : 8.14.0**

### ERROR

**SyntaxError: The "req1-ssr-overall-start" performa

[2022-10-26 17:09] kevinxh commented on #795
Hey @benramsay , thanks for reporting this! Unfortunately this is a known issue with Node v16 at the moment. It's on our roadmap to support node 16 soon. I'll come back to this issue when this is fixed. Thanks for your patience!

[2022-10-28 23:08] adamraya commented on #409
This issue was fixed [here](https://github.com/SalesforceCommerceCloud/pwa-kit/pull/742) and included in [v2.3.0](https://github.com/SalesforceCommerceCloud/pwa-kit/releases/tag/v2.3.0)

[2022-10-28 23:08] #409 closed, assigned to nobody

[2022-10-31 22:04] adamraya commented on #721
Thank you @nx-renezwinge and @ecRobertEngel for your patience.

The change was implemented in https://github.com/SalesforceCommerceCloud/pwa-kit/pull/724 and released in [v2.3.0](https://github.com/SalesforceCommerceCloud/pwa-kit/releases/tag/v2.3.0).

The [Upgrade to 2.3](https://developer.salesforce.com/docs/commerce/pwa-kit-managed-runtime/guide/upgrade-to-v2-3.html) guide details the steps to

[2022-10-31 22:04] #721 closed, assigned to nobody

[2022-11-01 20:45] #658 closed, assigned to nobody

[2022-11-02 08:44] tfoerster1211 opened #809 "[BUG] Internal Server Error - starting local dev server fails (v2.3.0)"
### Summary

When you create a new starter app project following the [Quick Start instructions](https://developer.salesforce.com/docs/commerce/pwa-kit-managed-runtime/guide/quick-start.html) with v2.3.0, the startup of the local dev server fails with an error:

[code]

### Steps To Reproduce

Run

`npx pwa-kit-create-app@latest --preset retail-react-app-demo`

Start the local web server:

[code]

[2022-11-02 14:45] tfoerster1211 commented on #809
I just saw that in the latest docs node 14.19.0 is mentioned as a requirement. I think this was 14.0.0 before with v2.2.0.

https://developer.salesforce.com/docs/commerce/pwa-kit-managed-runtime/guide/setting-up-your-local-environment.html

Nevertheless, this is not a bug in this case.

[2022-11-02 14:45] #809 closed, assigned to nobody

[2022-11-14 07:50] nx-renezwinge opened #827 "[FEATURE] Request Header for ServerSide Rendering"
**Is your feature request related to a problem? Please describe.**
On localhost development we have access to the request headers, but on Live Environment Managed Runtime the headers are filtered. I saw this in pwa-kit-sdk implementation.

**Describe the solution you'd like**
Please not filter out some basic headers like user-agent. And perhaps adding x-custom for the possibility to create custom

[2022-11-14 10:24] isyrota opened #828 "[BUG] Empty couponLineItems after basket merge"
Script file: cartridges/plugin_slas/cartridge/scripts/services/CartMergeService.js

After call merge basket service couponLineItems became empty when you execute require('dw/order/BasketMgr').getCurrentBasket().

[2022-11-14 10:45] #828 closed, assigned to nobody

[2022-11-14 23:50] bendvc commented on #827
Hey René

Thanks for bringing that up. Give me some time to take a look at the code and I'll do some digging on what decisions where made and why. Then I can get back to you with a better answer and an idea of what we'll do moving forward.

Ben 👍

[2022-11-15 19:16] bendvc commented on #827
Hey @nx-renezwinge

As it turns out, the headers that are forwarded to the SSR origin are filtered at the Cloudfront level. This code is part of the SSR Infrastruction for the Managed Runtime, which is an entity separate from the PWA-Kit.

There are ongoing discussions on opening up support for things like cookies, and I could bring headers generically with the MRT team, but I can't make any promi

[2022-11-16 16:18] muenzpraeger commented on #761
Did you consider to just change the `start:inspect` script in your local project?

`"start:inspect": "NODE_OPTIONS='--inspect=<yourIP>:<yourPort>' npm run start"`

[2022-11-17 06:17] nx-renezwinge commented on #761
Hi @muenzpraeger,
i copied the command out of the script

`cross-env NODE_ICU_DATA=node_modules/full-icu node --inspect=0.0.0.0:9229 app/ssr.js`

But your hint with the node options env var is much cleaner, i will try it out. Thx.

[2022-11-17 09:44] eismail-aiopsgroup opened #830 "[BUG] App cannot be started if installed in a directory with spaces in the name"
### Summary

I've tried to install the PWA kit on my machine by following the quick start guide but it turned out I can't start the app if my path has spaces inside.

### Steps To Reproduce
[code]
Error:
[code]

### Expected result

The app can be started as expected.
**Note:** Everything works fine if I do the same with a Windows User without spaces in the name/path.

### Actual result

The app i

[2022-11-17 17:40] bendvc commented on #830
Thanks for the report @eismail-aiopsgroup, we'll track this internally and schedule the work within the team.

[2022-11-21 18:30] bendvc commented on #827
I'm going to pass this off to the MRT team for follow up. @drewzboto can you or one of the engs on your team take a look at this issue and take the appropriate actions. Thanks

[2022-11-21 18:30] #827 closed, assigned to nobody

[2022-11-22 11:33] nx-renezwinge commented on #827
Hi @bendvc,
thx for the info. We have a problem with different rendering on SSR for Mobile/Desktop.
We will see, which we can refactor with CSS breakpoints, but it will be cool to have future things like cookies, user-agents etc.
Best regards René

[2022-11-28 20:36] drewzboto commented on #827
@nx-renezwinge Can you share an example of where you see specific headers being filtered out?

If you create a new environment, you'll get a default deployment that does emit the headers that are available to the SSR origin, which includes user agent (albeit set as cloudfront). See the outputs in one of my [empty environments](https://tdx-22-pwakit-mrt-staging.mobify-storefront.com/) for example

[2022-11-30 07:50] nx-renezwinge commented on #827
@drewzboto Thx for your infos. I also read about the ua-client-hints. Currently only supported experimental by Chromium, but in future the way to go. And interesting, in summer i saw on Managed Runtime no headers as i developed a form protection for the PWA Kit. But nice to see there are the headers. And then ok my implementation is not working, because we get for the user-agent Amazon CloudFront.

[2022-11-30 20:07] echessman commented on #202
Hello @hnestmann, we are working on this for the first half of 2023!

[2022-11-30 20:14] echessman commented on #235
Thank you for submitting this issue. We have reviewed the issue, but based on the severity of the issue described, do not have plans to fix this issue at this time. Please comment on the issue if you’d like to propose increasing the priority level.

[2022-11-30 20:16] #266 closed, assigned to rsexton404

[2022-11-30 20:17] #293 closed, assigned to nobody

[2022-11-30 20:20] echessman commented on #363
Hello @stm-dschulz Thank you for the feedback. We will be looking into this in the first half of 2023.

[2022-11-30 20:21] echessman commented on #386
Thank you for submitting this issue. We have reviewed the issue, but based on the severity of the issue described, do not have plans to fix this issue at this time. Please comment and reopen the issue if you’d like to propose increasing the priority level.

[2022-11-30 20:21] #386 closed, assigned to nobody

[2022-11-30 20:22] echessman commented on #387
This issue appears to be fixed

[2022-11-30 20:22] #387 closed, assigned to nobody

[2022-11-30 20:25] echessman commented on #388
Thank you for the feedback. We have filed a ticket (W-9231893) in our internal tracking system to be prioritized appropriately. Thanks again!

[2022-11-30 20:28] johnboxall commented on #420
Quick update, we're continuing to evaluate SSG/CSR on Managed Runtime but at this time it is not on the committed roadmap.

[2022-11-30 20:28] echessman commented on #503
Hello @MarkiyanPyts Thank you for the feedback. We will be looking into this in the first quarter of 2023. Thank you again